body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

canvas {
  display: block;
  background-image: url('./img/palms-3.jpg');
  background-size: cover;
  background-position: center;
}
